11/7 - 21 - Better Bodies 9:00 am

21 
1st / -3
2nd / -1
3rd / even
4th / +1
5th / +3

Tip ins subtract 5 points. 

Have to hit 21 or go back to 13. 

Call aggregious fouls. 

If missed shot rebound can do 2 steps, but if not hae to take back to 3 line.

We will draw card for breaker

3 pointers count as 3 pointers

After successful make - 3 shots / if 3 shots are made then go back to 3 point line. 

If being lazy and not defending and cherrypicking. Vote can be taken and punishment is stand face to the wall and get a Singapore Cane Dodgeball. Similar to old game 'Butts Up'.

The winner is who succesfully hts 21, and places are then given to whoever has the highest point total. 

--------------

Disc Golf
Idlewild DGPT 18

Usual rules we all know them. Just no ob creek on 4

Hazard rules on 1000 footer. So you can either do hazard or take it from where it went ob. That cut out area is inbounds. 

Say on 7 that we just play in the creek. That little island is still in play and can even be used as a layup zone. 

----------------

Bounties

1. 
2. Get a 3 - you get 1000 Disc Tokens
3. 
4. Get a 2 - you get 5000 Disc Tokens
5. Get a 3 - you get 1000 Disc Tokens
6. Get a 2 - you get 1000 Disc Tokens
7. Get a 3 - You get 5000 Disc Tokens
8. Get a 3 - You get 10000 Disc Tokens
9. 
10. 
11. 
12. Get a 3 - You get 10000 Disc Tokens
13. Get a 2 - You get 50000 Disc Tokens
14. Get a 3 - You get 10000 Disc Tokens
15. Get a 3 - You get 50000 Disc Tokens
16. Get a 3 - You get 20000 Disc Tokens
17. Get a 2 - You get 20000 Disc Tokens
18. Get a 3 - You get 50000 Disc Tokens


